<section class='dashboard with_sidebar'>
  <h1>Aloha <fb:name uid='<%= current_user.identifier %>' useyou='false'></fb:name>!</h1>
  <article>
    
	<h3><%= link_to 'Add a new dive log', new_log_path %></h3>
	
  </article>
  
  <article>
    <h3>Your recent dives</h3>

	<table>
      <tr>
        <th>Date</th>
        <th>Name</th>
        <th>City</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    
    <% @logs.each do |log| %>
      <tr>
        <td><%= log.date %></td>
        <td><%= log.name %></td>
        <td><%= log.city %></td>
        <td class="action"><%= link_to 'Show', log %></td>
        <td class="action"><%= link_to 'Edit', edit_log_path(log) %></td>
        <td class="action"><%= link_to 'Delete', log, :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
    <% end %>
    </table>
	
    <p><%= link_to 'View all dive logs', logs_path %></p>	
	
  </article>

  <!--
  <article>
    <h3>Your friends recent dives</h3>
	<p></p>
  </article>
  -->
  
  <script>
    $(function () {
      $('#app_request').click(function () {
        FB.ui({
          method: 'apprequests',
          message: 'You should learn more about this great web app.',
          data: 'tracking information for the user'
        });
      });
    });
  </script>

</section>

<aside class="sidebar">
    <%= render :partial => 'layouts/sidebar' %>
</aside>