<section class='dashboard'>
  <h1>Aloha <fb:name uid='<%= current_user.identifier %>' useyou='false'></fb:name>!</h1>
  <article>
    <h3>Your profile</h3>
	<div class="avatar">
		<fb:profile-pic uid="<%= current_user.try(:identifier) %>" size="normal" facebook-logo="true"></fb:profile-pic>
	</div>
    <dl>
	    <dt>Name</dt>
	    <dd><%= current_user.profile.first_name %> <%= current_user.profile.last_name %></dd>
	    <dt>Email</dt>
	    <dd><%= current_user.profile.email %></dd>
	</dl>
    <p><%= link_to 'See your full profile details', profile_path %></p>
    <p><%= link_to 'See your facebook timeline', timeline_path %></p>
    <p><%= link_to 'View your dive logs', logs_path %></p>

  </article>
  
  <article>
    <h3>Your recent log entries</h3>
	<p></p>
  </article>

  <article>
    <h3><%= link_to 'App Request', '#', :id => :app_request %></h3>
    <p>Send application requests to your friends.</p>
    <p>This functionality is for iframe applications running on apps.facebook.com domain.</p>
  </article>
  
    <article>
    <h3><%= link_to 'Profile Details', profile_path %></h3>
    <p>User profile.</p>
  </article>
  <article>
    <h3><%= link_to 'Timeline (News Feed)', timeline_path %></h3>
    <p>Show your timeline and update status.</p>
  </article>
  <article>
    <h3><%= link_to 'Subscription', subscription_path %></h3>
    <p>Subscribe your user's activity.</p>
    <p>This functionality is for developers, not for end-users.</p>
    <p>This page won't return any content to your browsers, since this endpoint is designed to respond to subscription verification request from facebook.com</p>
  </article>
  
  <script>
$(function () {
  $('#app_request').click(function () {
    FB.ui({
      method: 'apprequests',
      message: 'You should learn more about this awesome game.',
      data: 'tracking information for the user'
    });
  });
});
</script>
  
</section>



