<%- model_class = @user.class -%>

<div  class="profile">
  <h1>Your profile</h1>
  
  <dl class="dl-horizontal">
    <dt><strong>User ID</strong></dt>
    <dd><%= @user.id %></dd>
    <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
    <dd><%= @user.email %></dd>
  </dl>
  
  <dl class="dl-horizontal">  
    
    <dt><strong>Unrecorded Dives:</strong></dt>
    <dd><%= @user.unrecorded_dives %> <a href="#" id="edit-dives">edit</a></dd>
    
    
    <%#= form_for @user, :remote => true, :url => { :action => "update"}, :html => { :id => "update_dives", :class => "hidden" } do |f| %>
    <%= form_for @user, :remote => true, :html => { :'data-type' => 'html', :id => "update_dives", :class => "hidden" } do |f| %>
      <p class="weak">Do you have any additional dives not recorded in DivePana?</p>
      <%= f.text_field :unrecorded_dives %> 
      <%= f.submit "Update", :class => 'btn' %>
      <div id="unrecorded_dives" class="ajax-loader"></div><div class="status"></div>
    <% end %>   
    
    <dt><strong>Unrecorded Time:</strong></dt>
    <dd><%= @user.unrecorded_time %> <a href="#" id="edit-time">edit</a></dd>
    <%= form_for @user, :remote => true, :html => { :id => "update_time", :class => "hidden" } do |g| %>
      <p class="weak">Do you have any time not recorded in DivePanda?</p>
      <%= g.text_field :unrecorded_time, :class => 'submittable', :width => '3' %>
      <%= g.submit "Update", :class => 'btn' %>
      <div id="unrecorded_dives" class="ajax-loader"></div>
    <% end %>  
      
    
  </dl> 
    

  <dl class="dl-horizontal">
  
    <dt>Total Dives</dt>
    <dd><%= @dive_count %></dd>
    
    <dt>Total dive time</dt>
    <dd><%= @dive_time %></dd>

  </dl>

  <dl class="dl-horizontal">

    <dt>Average dive depth</dt>
    <dd><%= @average_dive_depth %></dd>

    <dt>Average dive time</dt>
    <dd><%= @average_dive_time %></dd>

    <dt>Average air consumption <%# can we make this per minute or compare to average and provide tips for how to improve %></dt>
    <dd><%#= @average_air_consumption %></dd>
    
  </dl>
  
  <br />


  <h4>This Year <small class="weak">(<%= Time.now.year %>)</small></h4>
  <dl class="dl-horizontal">
    
    <dt>Dives this year</dt>
    <dd><%= @dives_this_year %></dd>
    
    <dt>Dive time this year</dt>
    <dd><%= @dive_time_this_year %></dd>
        
  </dl>
  
</div>