<%= form_for @dive, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :comments, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :comments, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :directions, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :directions, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :city, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :city, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :state, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :state, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :country, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :country, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :longitude, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :longitude, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :latitude, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :latitude, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :weather, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :weather, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :equipment, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :equipment, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :weight, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :weight, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :date, :class => 'control-label' %>
    <div class="controls">
      <%= f.date_select :date, :class => 'date_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :starttime, :class => 'control-label' %>
    <div class="controls">
      <%= f.time_select :starttime, :class => 'time_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :endtime, :class => 'control-label' %>
    <div class="controls">
      <%= f.time_select :endtime, :class => 'time_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :bottomtime, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :bottomtime, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :units, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :units, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :depth, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :depth, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :temperature, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :temperature, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :watertemp, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :watertemp, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :rating, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :rating, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                dives_path, :class => 'btn' %>
  </div>
<% end %>
