<%- model_class = @dive.class -%>
<h1><%=t '.title', :default => model_class.model_name.human %></h1>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:user_id) %>:</strong></dt>
  <dd><%= @dive.user_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @dive.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @dive.description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:comments) %>:</strong></dt>
  <dd><%= @dive.comments %></dd>
  <dt><strong><%= model_class.human_attribute_name(:directions) %>:</strong></dt>
  <dd><%= @dive.directions %></dd>
  <dt><strong><%= model_class.human_attribute_name(:city) %>:</strong></dt>
  <dd><%= @dive.city %></dd>
  <dt><strong><%= model_class.human_attribute_name(:state) %>:</strong></dt>
  <dd><%= @dive.state %></dd>
  <dt><strong><%= model_class.human_attribute_name(:country) %>:</strong></dt>
  <dd><%= @dive.country %></dd>
  <dt><strong><%= model_class.human_attribute_name(:longitude) %>:</strong></dt>
  <dd><%= @dive.longitude %></dd>
  <dt><strong><%= model_class.human_attribute_name(:latitude) %>:</strong></dt>
  <dd><%= @dive.latitude %></dd>
  <dt><strong><%= model_class.human_attribute_name(:weather) %>:</strong></dt>
  <dd><%= @dive.weather %></dd>
  <dt><strong><%= model_class.human_attribute_name(:equipment) %>:</strong></dt>
  <dd><%= @dive.equipment %></dd>
  <dt><strong><%= model_class.human_attribute_name(:weight) %>:</strong></dt>
  <dd><%= @dive.weight %></dd>
  <dt><strong><%= model_class.human_attribute_name(:date) %>:</strong></dt>
  <dd><%= @dive.date %></dd>
  <dt><strong><%= model_class.human_attribute_name(:starttime) %>:</strong></dt>
  <dd><%= @dive.starttime %></dd>
  <dt><strong><%= model_class.human_attribute_name(:endtime) %>:</strong></dt>
  <dd><%= @dive.endtime %></dd>
  <dt><strong><%= model_class.human_attribute_name(:bottomtime) %>:</strong></dt>
  <dd><%= @dive.bottomtime %></dd>
  <dt><strong><%= model_class.human_attribute_name(:units) %>:</strong></dt>
  <dd><%= @dive.units %></dd>
  <dt><strong><%= model_class.human_attribute_name(:depth) %>:</strong></dt>
  <dd><%= @dive.depth %></dd>
  <dt><strong><%= model_class.human_attribute_name(:temperature) %>:</strong></dt>
  <dd><%= @dive.temperature %></dd>
  <dt><strong><%= model_class.human_attribute_name(:watertemp) %>:</strong></dt>
  <dd><%= @dive.watertemp %></dd>
  <dt><strong><%= model_class.human_attribute_name(:rating) %>:</strong></dt>
  <dd><%= @dive.rating %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              dives_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_dive_path(@dive), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              dive_path(@dive),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
</div>
