<section class='dashboard span12'>
  <article class="span8">
    <h3 id="add_new" class="btn btn-primary"><%= link_to '+ Add a new dive', new_dive_path %></h3>
  </article>
  
  <aside class="span4">    
        <% #if authenticated? %>
        
            <h4>Aloha <%= current_user.email %>!</h4>
            <br />
    
            <dl class="dl-horizontal">
                <dt>Total Dives</dt>
                <dd><%= @dive_count %></dd>
                
                <dt>Total dive time</dt>
                <dd><%= @dive_time %></dd>
      
          	    <dt class="weak">User Id</dt>
          	    <dd class="weak"><%= @user.id %></dd>
          	    
          	    <dt class="weak">Email</dt>
          	    <dd class="weak"><%= @user.email %></dd>
          	    
          	</dl>
            <p><%# link_to 'View your full profile', profile_path %></p>
            <p><%#= link_to "Logout", facebook_path, :method => :delete %></p>
        
        <% #else %>
            <p><%# link_to "You need to re-login", root_path %></p>
        <% #end %>
    
  </aside>
    
  <article id="recent-dives" class="span12">
    <h3>Your recent dives</h3>
    <%- model_class = Dive.new.class -%>
    
  	<table class="table table-condensed">
      <thead>
        <tr>
        
        <%#= l trip.truckleft, :format => :long %>
        
          <th><%= model_class.human_attribute_name(:date) %></th>
          <th><%= model_class.human_attribute_name(:name) %></th>
          <th><%= model_class.human_attribute_name(:city) %></th>
          <th><%= model_class.human_attribute_name(:country) %></th>
          <th><%= model_class.human_attribute_name(:depth) %></th>
          <th><%= model_class.human_attribute_name(:bottomtime) %>Time</th>
          <th><%=t '.actions', :default => t("helpers.actions") %></th>
        </tr>
      </thead>
      <tbody>
        <% @dives.each do |dive| %>
          <tr>
            <td><%#= dive.date.strftime("%d %b %Y") %><%= l dive.date, :format => :long %></td>
            <td><%= link_to dive.name, dive_path(dive) %></td>
            <td><%= dive.city %></td>
            <td><%= dive.country %></td>
            <td><%= dive.bottomtime %></td>
            <td><%= dive.depth %></td>
            <td>
              <%= link_to t('.edit', :default => t("helpers.links.edit")),
                          edit_dive_path(dive), :class => 'btn btn-mini' %>
              <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                          dive_path(dive),
                          :method => :delete,
                          :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                          :class => 'btn btn-mini btn-danger' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

		
    <p><%= link_to 'View all dives', dives_path %></p>	
	
  </article>

  <!--
  <article>
    <h3>Your friends recent dives</h3>
	<p></p>
  </article>
  -->

</section>

<!--
<aside class="sidebar span3">
    <%#= render :partial => 'layouts/sidebar' %>
</aside> 
-->