<p id="notice"><%= notice %></p>

<p>
  <b>Date:</b>
  <%= @log.date %>
</p>

<p>
  <b>Dive Location:</b> <%= @log.name %>
  <br />
  <small>In <%= @log.city %>, <%= @log.state %>, <%= @log.country %></small>
</p>


<h3>Dive Stats</h3>
<p>
  <b>Start Ttime:</b>
  <%= @log.starttime %>
</p>

<p>
  <b>End Time:</b>
  <%= @log.endtime %>
</p>

<p>
  <b>Bottom Time:</b>
  <%= @log.bottomtime %>
</p>

<p>
  <b>Units:</b>
  <%= @log.units %>
</p>

<p>
  <b>Depth:</b>
  <%= @log.depth %>
</p>




<h3>Attributes</h3>
<p>
  <b>Weather:</b>
  <%= @log.weather %>
</p>




<p>
  <b>Temperature:</b>
  <%= @log.temperature %>
</p>

<p>
  <b>Water Temperature:</b>
  <%= @log.watertemp %>
</p>

<p>
  <b>Equipment:</b>
  <%= @log.equipment %>
</p>


<h3>Details</h3>
<p>
  <b>Dive Location Description:</b>
  <%= @log.description %>
</p>

<p>
  <b>Dive Comments:</b>
  <%= @log.comments %>
</p>

<p>
  <b>Directions to dive location:</b>
  <%= @log.directions %>
</p>


	<!-- Add buddy to log -->
	<!-- Email this log to friends or email -->


<%= link_to 'Edit Log', edit_log_path(@log) %> |
<%= link_to 'All Logs', logs_path %>