<footer>
  <ul>
    <li>&copy; <%= Time.now.year %> <a href="http://divepanda.com">Dive Panda</a></li>
	<li><%= link_to 'Terms and Conditions', :controller => "pages", :action => "terms" %></li>
	<li><%= link_to 'Privacy', :controller => "pages", :action => "privacy" %></li>
    <li><%= link_to "About", :controller => "pages", :action => "about" %></li>
    <li><%= link_to 'Contact', :controller => "pages", :action => "contact" %></li>
  </ul>
</footer>