<aside class="sidebar">

    <% if authenticated? %>
    
        <h3>Your profile</h3>
    	
        <div class="avatar">
    		<fb:profile-pic uid="<%= current_user.try(:identifier) %>" size="small" facebook-logo="true"></fb:profile-pic>
    	</div>
        <dl>
    	    <dt>Name</dt>
    	    <dd><%= current_user.profile.first_name %> <%= current_user.profile.last_name %></dd>
    	    <dt>Email</dt>
    	    <dd><%= current_user.profile.email %></dd>
    	</dl>
        <p><%= link_to 'See your full profile details', profile_path %></p>
        <p><%= link_to 'See your facebook timeline', timeline_path %></p>
        <p><%= link_to 'See your App Request', '#', :id => :app_request %></p>
        <p><%= link_to 'See your Subscriptions', subscription_path %></p>
    
        <p><%= link_to "Logout", facebook_path, :method => :delete %></p>
    
    <% else %>
        <p><%= link_to "You need to re-login", root_path %></p>
    <% end %>

</aside>