<aside class="sidebar">

    <%# if authenticated? %>
    
        <h4>Aloha <%= current_user.email %>!</h4>
        <br />

        <dl class="dl-horizontal">
            <dt>Total Dives</dt>
            <dd><%= @dive_count %></dd>
            
            <dt>Total dive time</dt>
            <dd><%= @dive_time %></dd>
  
      	    <dt class="weak">User Id</dt>
      	    <dd class="weak"><%= @user.id %></dd>
      	    
      	    <dt class="weak">Email</dt>
      	    <dd class="weak"><%= @user.email %></dd>
      	    
      	</dl>
        <p><%# link_to 'View your full profile', profile_path %></p>
        <p><%#= link_to "Logout", facebook_path, :method => :delete %></p>
    
    <%# else %>
        <p><%# link_to "You need to re-login", root_path %></p>
    <%# end %>

</aside>