<aside class="sidebar">

    <% if authenticated? %>
    
        <dl>
    	    <dt>Name</dt>
    	    <dd><%= current_user.profile.first_name %> <%= current_user.profile.last_name %></dd>
    	    <dt>CurrentUser Id</dt>
    	    <dd><%= current_user.id %></dd>
    	    <dt>Facebook identifier:</dt>
    	    <dd><%= current_user.identifier %></dd>
            <dt>Number of Dives</dt>
            <dd><%= @dive_count %></dd>
            <dt>Total bottom time</dt>
            <dd><%= @dive_time %></dd>
    	</dl>
        <p><%= link_to 'View your full profile', profile_path %></p>
        <p><%#= link_to "Logout", facebook_path, :method => :delete %></p>
    
    <% else %>
        <p><%= link_to "You need to re-login", root_path %></p>
    <% end %>

</aside>