<!DOCTYPE html>
<html xmlns:fb="http://www.facebook.com/2008/fbml">
  <head>
    <title>Dive Panda</title>
    <meta property="fb:app_id" content="<%= Facebook.config[:client_id] %>">
    <!--[if IE]>
    <script type="text/javascript" src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <%= stylesheet_link_tag 'base', 'layout', 'gritter', controller_name %>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.js"></script>
    <%= javascript_include_tag 'rails', 'jquery.gritter' %>
    <%# Add js for dives here %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div id="fb-root"></div>

	<header>
		<nav>
			<div id="logo">
                <%= link_to image_tag("logo/logo-icon.png", :border => 0, :width => '29'), root_path, {:class => 'logo-icon'} %>
                <%= link_to 'DivePanda', root_path, {:class => 'logo'} %>
			</div>
			<ul>
    			
    			<% if authenticated? %>
    				<li>Hello <%= link_to current_user.profile.first_name, :controller => "profiles", :action => "show" %></li>
                    <li><%= link_to 'Dashboard', dashboard_path %></li>
                    <li><%= link_to 'Dives', dives_path %></li>
                    <li><%= link_to "Sign out", facebook_path, :method => :delete %></li>	    				
                <% else %>
                    <li><fb:login-button size="small" onlogin="location.href = '<%= facebook_path %>'" scope="<%= Facebook.config[:scope] %>"></fb:login-button></li>
                    <li><%= link_to "About", :controller => "pages", :action => "about" %></li>
                    <li><%= link_to 'Contact', :controller => "pages", :action => "contact" %></li>
    			<% end %>
    				
			</ul>
		</nav>
	</header>
	
    <div class="container">
      <div class="main">
        <%= yield %>
      </div>
    </div>
    
    <%= render 'layouts/footer' %>
    
    <script src="http://connect.facebook.net/en_US/all.js"></script>
    <script>
      FB.init({
        appId: "<%= Facebook.config[:client_id] %>",
        cookie: true,
        xfbml: true
      });
    </script>
    <script type="text/javascript">
      $(function () {
        <% if flash[:error] %>
          $.gritter.add({
            title: "<%= flash[:error][:title] %>",
            text : "<%= flash[:error][:message] %>",
            image: "<%= flash[:error][:image] %>",
            time : 5000
          });
        <% elsif flash[:notice] %>
          $.gritter.add({
            title: "<%= flash[:notice][:title] %>",
            text : "<%= flash[:notice][:message] %>",
            image: "<%= flash[:notice][:image] %>",
            time : 3000
          });
        <% end %>
      });
    </script>
  </body>
</html>